@using CleanArchMVC.Application.DTOs;
@model ProdutoDTO

@{
    ViewData["Title"] = "Detalhes Produto";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div>
    <dl class="row">
        <dt class="col-md-2">@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd class="col-md-10">@Html.DisplayFor(model => model.Nome)</dd>
        <dt class="col-md-2">@Html.DisplayNameFor(model => model.Descricao)</dt>
        <dd class="col-md-10">@Html.DisplayFor(model => model.Descricao)</dd>
        <dt class="col-md-2">@Html.DisplayNameFor(model => model.Imagem)</dt>
        <dd class="col-md-10">
            @if (!ViewBag.ImagemExiste)
            {
                <img src="~/imagens/noImage.jpg" class="rounded-circle" height="300" width="300" asp-asp-append-version="true" />
            }
            else
            {
                <img src="~/imagens/@Model.Imagem" class="rounded-circle" height="300" width="300" asp-asp-append-version="true" />
            }
        </dd>
        <dt class="col-md-2">@Html.DisplayNameFor(model => model.Preco)</dt>
        <dd class="col-md-10">@Html.DisplayFor(model => model.Preco)</dd>
        <dt class="col-md-2">@Html.DisplayNameFor(model => model.Estoque)</dt>
        <dd class="col-md-10">@Html.DisplayFor(model => model.Estoque)</dd>
        <dt class="col-md-2">@Html.DisplayNameFor(model => model.Categoria)</dt>
        <dd class="col-md-10">@Html.DisplayFor(model => model.Categoria.Nome)</dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="pl-3">Voltar</a>
</div>